{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div id="choropleth1" class="choropleth choropleth--1 js-choropleth" data-url="{{ homeURL }}/data/unemployment.tsv" data-value="florida" data-title="Florida Unemployment Rates"></div>
      <div id="choropleth2" class="choropleth choropleth--2 js-choropleth" data-url="{{ homeURL }}/data/unemployment.tsv" data-value="florida" data-title="Florida Unemployment Rates"></div>
      <div id="choropleth3" class="choropleth choropleth--3 js-choropleth" data-url="{{ homeURL }}/data/unemployment.tsv" data-value="florida" data-title="Florida Unemployment Rates"></div>
      <div id="choropleth4" class="choropleth choropleth--4 js-choropleth" data-url="{{ homeURL }}/data/unemployment.tsv" data-value="florida" data-title="Florida Unemployment Rates"></div>
    </div>
  </div>
{% endblock %}
