.cases {
  &--1 { fill: #FEDD90 }
  &--2 { fill: #F58B51 }
  &--3 { fill: #EB1C30 }
  &--4 { fill: #000 }
}

.counties path {
  stroke: #FFF;
  stroke-width: 1px;
  stroke-dasharray: 2;
}

.choropleth {
  &--1 {
    @include span-columns(12);
  }

  &--2, &--3, &--4 {
    @include span-columns(4);
  }
}

.circuit {
  fill: none;
  stroke: #FFF;
  stroke-width: 1.5px;
}
