$shade-amount: 15%;

.choropleth {
  margin-bottom: 1.25rem;

  &--inner {
    position: relative;
  }

  &__intro {
    text-align: left;
    margin-bottom: 1rem;
  }

  &__range {
    text-align: center;
    margin-bottom: 1rem;

    svg {
      width: 150px;
      margin: 0 auto;
      display: block;
    }
  }

  &__info {
    @include position(absolute, null null 0% 30%);
    transform: translateX(-50%);

    @include media($medium-screen-up) {
      @include position(absolute, null null 35% 25%);
      transform: translateX(-50%);
    }

    &--inner {
      text-align: center;
      transition: opacity 0.1s linear;
    }
  }
}

.circuit {
  fill: none;
  stroke: $white;
  stroke-width: 1.5px;
  z-index: 1;

  &.active {
    stroke: $black;
  }
}

.county {
  stroke: $white;
  stroke-width: 1px;
  stroke-dasharray: 2;
}

.median {
  &--1 { fill: $light-yellow; }
  &--2 { fill: $yellow; }
  &--3 { fill: $light-orange; }
  &--4 { fill: $red; }
}
