$shade-amount: 30%;

.choropleth {
  &--inner {
    position: relative;
  }

  &__wrapper {
    padding: 0.25rem;

    @include media($medium-screen-up) {
      padding: 1rem;
    }
  }

  &__intro {
    @include media($medium-screen-up) {
      @include span-columns(8 of 12);
      @include shift(2);
    }
    text-align: center;
    margin-bottom: 1rem;
  }

  &__range {
    text-align: center;
    margin-bottom: 1rem;

    svg {
      width: 150px;
      margin: 0 auto;
      display: block;
    }
  }

  &__info {
    @include position(absolute, null null 17% 30%);
    transform: translateX(-50%);

    @include media($medium-screen-up) {
      @include position(absolute, null null 35% 25%);
      transform: translateX(-50%);
    }

    &--inner {
      text-align: center;
      transition: opacity 0.1s linear;
    }
  }
}

.circuit {
  fill: none;
  stroke: $white;
  stroke-width: 1.5px;
}

.county {
  stroke: $white;
  stroke-width: 1px;
  stroke-dasharray: 2;
}

.median {
  &--1 {
    fill: $light-yellow;
    &.active { fill: shade($light-yellow, $shade-amount); }
  }
  &--2 {
    fill: $light-orange;
    &.active { fill: shade($light-orange, $shade-amount); }
  }
  &--3 {
    fill: $red;
    &.active { fill: shade($red, $shade-amount); }
  }
  &--4 {
    fill: $black;
    &.active { fill: tint($black, $shade-amount); }
  }
}
