$small  : em(480);
$medium : em(768);
$large  : em(1024);
$xlarge : em(1280);

$small-screen-up  : new-breakpoint(min-width $small);
$medium-screen-up : new-breakpoint(min-width $medium);
$large-screen-up  : new-breakpoint(min-width $large);
$xlarge-screen-up : new-breakpoint(min-width $xlarge);
