$heading-font-family-script: 'McClatchy Slab', Georgia,Times, 'Times New Roman', serif;
$heading-font-family-sans: 'McClatchy Sans', Georgia,Times, 'Times New Roman', serif;
$body-font-family: 'McClatchy Sans', Georgia,Times, 'Times New Roman', serif;

$light-yellow: #ffecc5;
$yellow: #ffdc90;
$light-orange: #f58a4f;
$red: #ed1b2e;
$black: #000000;
$white: #FFFFFF;
